<div class="container">
  <form #loginForm="ngForm">
    <div>
      <label for="username">Username: </label>
      <input type="text" name="" #username />
    </div>
    <div>
      <div #parentDiv>
        <label for="password">Password:</label>

        <input
          [type]="show ? 'text' : 'password'"
          name="password"
          required
          minlength="8"
          appPasswordValidation
          #password
          [username]="username.value"
          [parent]="parentDiv"
        />
        <button (click)="passwordView()" type="button">View password</button>
      </div>
    </div>

    <button type="submit">Login</button>
  </form>
</div>
